.ayment-element {
  margin-bottom: 24px;
}

.button {
  background: #5469d4;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.payment_element {
  background-color: #eee;
  width: 30vw;
  height: 300px;
}

.pay_button_wrapper {
  margin-top: 20px;
}
